
* {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr 0.2fr;
  grid-template-rows: 15vh 85vh;

  grid-template-areas: 
  "header aside"
  "main   aside"
  "main   aside";
}

.item {
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
  grid-row: span 2;
}